/ClienteMozoTik/dist/
/ServerTik/build/
/ServerTik/dist/
/AdminTik/build/
/AdminTik/dist/
/ClienteMozoTik/build/
/ClienteMozoTik/dist/
/WaiterTik/nbproject/private/
/WaiterTik/build/
/WaiterTik/dist/
/KitchenTik/nbproject/private/
/KitchenTik/build/
/AFIP/nbproject/private/